{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recettes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Recette</th>
                <th>Nbpersonnes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td><a href="{{ path('recettes_show', { 'id': recette.id }) }}">{{ recette.id }}</a></td>
                <td>{{ recette.recette }}</td>
                <td>{{ recette.nbPersonnes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recettes_show', { 'id': recette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recettes_edit', { 'id': recette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recettes_new') }}">Create a new recette</a>
        </li>
    </ul>
{% endblock %}
