{% extends 'base.html.twig' %}

{% block body %}
    <h1>Membres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Dateinscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td><a href="{{ path('membre_show', { 'id': membre.id }) }}">{{ membre.id }}</a></td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{% if membre.dateInscription %}{{ membre.dateInscription|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('membre_show', { 'id': membre.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
