{% extends 'base.html.twig' %}

{% block body %}
    <h1>Band</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ band.id }}</td>
            </tr>
            <tr>
                <th>Bandname</th>
                <td>{{ band.bandName }}</td>
            </tr>
            <tr>
                <th>Banddescription</th>
                <td>{{ band.bandDescription }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('band_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('band_edit', { 'id': band.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
