{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recipe(s)</h1>
    {% if recipes is  defined %}
    {% for recipes in recipes %}
    <table class="table table-striped table-bordered">

        <tbody>

            <tr>
                <th>Id</th>
                <td>{{ recipes.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ recipes.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recipes.description }}</td>
            </tr>
            <tr>
                <th>Timepreparation</th>
                <td>{% if recipes.timePreparation %}{{ recipes.timePreparation|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Timecuisson</th>
                <td>{% if recipes.timeCuisson %}{{ recipes.timeCuisson|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <table class="table table-striped table-bordered">

        <tbody>

        <tr>
            <th>Id</th>
            <td>{{ recipe.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ recipe.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ recipe.description }}</td>
        </tr>
        <tr>
            <th>Timepreparation</th>
            <td>{% if recipe.timePreparation %}{{ recipe.timePreparation|date('H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Timecuisson</th>
            <td>{% if recipe.timeCuisson %}{{ recipe.timeCuisson|date('H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>
    {% endif %}


{% endblock %}
