{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recette</h1>

                <table>
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ recette.id }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ recette.description }}</td>
                    </tr>
                    <tr>
                        <th>Ingredient</th>
                        <td>{{ recette.ingredient }}</td>
                    </tr>
                    <tr>
                        <th>Ingredient1</th>
                        <td>{{ recette.ingredient1 }}</td>
                    </tr>
                    <tr>
                        <th>Ingredient2</th>
                        <td>{{ recette.ingredient2 }}</td>
                    </tr>
                    <tr>
                        <th>Ingredient3</th>
                        <td>{{ recette.ingredient3 }}</td>
                    </tr>
                    <tr>
                        <th>Ingredient4</th>
                        <td>{{ recette.ingredient4 }}</td>
                    </tr>
                    <tr>
                        <th>Ingredient5</th>
                        <td>{{ recette.ingredient5 }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('recette_edit', { 'id': recette.id }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>

{% endblock %}
