{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recettes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nbpersonne</th>
                <th>Difficulte</th>
                <th>Cout</th>
                <th>Preparation</th>
                <th>Cuisson</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td><a href="{{ path('recette_show', { 'id': recette.id }) }}">{{ recette.id }}</a></td>
                <td>{{ recette.nom }}</td>
                <td>{{ recette.nbPersonne }}</td>
                <td>{{ recette.difficulte }}</td>
                <td>{{ recette.cout }}</td>
                <td>{% if recette.preparation %}{{ recette.preparation|date('H:i:s') }}{% endif %}</td>
                <td>{% if recette.cuisson %}{{ recette.cuisson|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recette_show', { 'id': recette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recette_edit', { 'id': recette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recette_new') }}">Create a new recette</a>
        </li>
    </ul>
{% endblock %}
