{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recettes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomrecette</th>
                <th>Daterecette</th>
                <th>Preparation</th>
                <th>Tempsdepreparation</th>
                <th>Nbpersonne</th>
                <th>Dificulte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td><a href="{{ path('recette_show', { 'id': recette.id }) }}">{{ recette.id }}</a></td>
                <td>{{ recette.nomRecette }}</td>
                <td>{% if recette.dateRecette %}{{ recette.dateRecette|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ recette.preparation }}</td>
                <td>{{ recette.tempsDePreparation }}</td>
                <td>{{ recette.nbPersonne }}</td>
                <td>{{ recette.dificulte }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recette_show', { 'id': recette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recette_edit', { 'id': recette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recette_new') }}">Create a new recette</a>
        </li>
    </ul>
{% endblock %}
