{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recette</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recette.nom }}</td>
            </tr>
            <tr>
                <th>Genreid</th>
                <td>{{ recette.genreId }}</td>
            </tr>
            <tr>
                <th>Ingredientid</th>
                <td>{{ recette.ingredientId }}</td>
            </tr>
            <tr>
                <th>Membreid</th>
                <td>{{ recette.membreId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recettes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recettes_edit', { 'id': recette.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
