{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recette</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recette.nom }}</td>
            </tr>
            <tr>
                <th>Nbpersonne</th>
                <td>{{ recette.nbPersonne }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ recette.difficulte }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ recette.cout }}</td>
            </tr>
            <tr>
                <th>Preparation</th>
                <td>{% if recette.preparation %}{{ recette.preparation|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cuisson</th>
                <td>{% if recette.cuisson %}{{ recette.cuisson|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recette_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recette_edit', { 'id': recette.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
